.app{
  display: grid;
  /* place-items:center; */
  background-color: #ffffff;
  height: 100vh;
  /* color: #fff; */
  

}
.app_body{
  display: flex;
  background-color: #ffffffb7;
  height:99vh;
  width:97vw;
  box-shadow:-1px 4px 20px -6px #ffffffb7;
}
